@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lora');

body
{
    /*posoitioing*/
    margin: 0px;
    /*allows me to get true value of width / height of body*/
    float: left;
    /*Fuckign bullshit bit here for some reason makes it work*/
    min-width: 100%;

    /*Font type*/    
    font-family: 'Lora', serif;

}

.background_img
{
    /*Img source*/
    background-image:  
        url('../Photos/BG_Images/BGimg_opacity1_Camping.jpg'),
        url("../Photos/BG_Images/BGimg_Opacity2_Bukovel.jpg"),
        url("../Photos/BG_Images/BGimg_opacity3_Camping.jpg"),
        url("../Photos/BG_Images/BGimg_Opacity3_Bukovel.jpg"),
        url("../Photos/BG_Images/BGimg_opacity5_Camping.jpg"),
        url("../Photos/BG_Images/BGimg_Opacity1_Bukovel.jpg"),
        /*url("../Photos/BG_Images/BGimg_opacity4_Camping.jpg"),*/
            url("../Photos/BG_Images/BGimg_Opacity1_WS_upscale.jpg"),
        url("../Photos/BG_Images/BGimg_Opacity1_Pas.jpg"),
        url("../Photos/BG_Images/BGimg_opacity2_Camping.jpg");
        /*url("../Photos/BG_Images/BGing_opacity1_bels_18th_beach.jpg")*/

    /*Setting position of images*/
    background-position: 
        /*First Column*/
        0 0, 
        0 1079px,
        0 2158px,
        /*second*/
        1920px 0, 
        1920px 1079px,
        1920px 2158px,
        /*Third*/
        3840px 0, 
        3840px 1079px,
        3840px 2158px;

    /*Making sure the images don't repeat*/
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat;


}
/* Frameworkd for background images */

    /*Img source*/
    /*background-image:  */
        /*url('../Photos/BG_Images/BGimg_opacity1_Camping.jpg');*/
        /*url("../Photos/BG_Images/BGimg_opacity2_Camping.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity3_Camping.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity4_Camping.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity5_Camping.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity1_Bukovel.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity2_Bukovel.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity3_Bukovel.jpg");*/
        /*url("../Photos/BG_Images/BGing_opacity1_bels_18th_beach.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity1_WS.jpg");*/
        /*url("../Photos/BG_Images/BGimg_opacity1_Pas.jpg");*/

    /*Setting position of images*/
/*    background-position: 
        0 0, 
        0 1080px,
        0 2160px,
        0 3240px, 
        0 4320px,
        0 5400px,
        0 6480px, 
        0 7560px;*/

    /*Making sure the images don't repeat*/
/*    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat, 
        no-repeat;*/

/* Frameworkd for background images */








footer
{
    /*positioning*/
    float: left;
    margin-top: 32.5px;
    
    /*size*/
    width: 100%;
    height: 25px;

    /*color and opacity*/
    background-color: rgba(0,0,0,0.5);

}

.float_left
{
    /*Positionging*/
	margin-top: 0;
	float: left;
}

.float_right
{
    /*Positioning*/
	margin-top: 0;
	float: right;
}










/*As i am changing classes past my resolution (i think past my resolution atleast...)
the only way to allow the above media queries to run as well is to have these at the bottom with min width*/
@media (min-width:3100px)
{




}

@media (min-width:2750px)
{

}


/* Media Query */
@media (max-width:1000px){



}


@media (max-width:785px) {



}

@media (max-height: 550px) 
{


}