@charset "utf-8";


/*Containers for design spec 1*/
/*With this I am trying to make the containers centered as well as going down the page*/


.Container_small
{

	/*positioning*/
	position: relative;
	left: 75%;
	margin-left: -37.2%;
	margin-top: 75px;

	/* sizes */
	height: 100%;
	width: 25%;
	
	/* background color and the opacity */
	background-color: #000000;
	opacity: 0.75;

	/* sorting out borders */	
	/*here i am rounding the borders with a solid line*/
	/*here i am also giving it the color i specified in the color scheme*/
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #E6C50A;
}

.Container_medium
{

	/*positioning*/
	float: left;
	margin-top: 50px;
	margin-left: 25%;

	/* sizes */
	height: 100%;
	width: 50%;

	
	/* background color and the opacity */
	background-color: #000000;
	opacity: 0.75;

	/* sorting out borders */	
	/*here i am rounding the borders with a solid line*/
	/*here i am also giving it the color i specified in the color scheme*/
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #E6C50A;
}

.Container_large
{
	/*positioning*/
	position: relative;
	left: 25%;
	margin-left: -12.5%;
	margin-top: 75px;

	/* sizes */
	height: 100%;
	width: 75%;
	
	/* background color and the opacity */
	background-color: #000000;
	opacity: 0.75;

	/* sorting out borders */	
	/*here i am rounding the borders with a solid line*/
	/*here i am also giving it the color i specified in the color scheme*/
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #E6C50A;
}
/*Containers for design spec 1*/


.Container_SideBySide_medium
{

	/*positioning*/
	float: left;
	margin: 50px 1.7% 0px 1.7%;

	/* sizes */
	height: 100%;
	width: 46%;
	
	/* background color and the opacity */
	background-color: #000000;
	opacity: 0.75;

	/* sorting out borders */	
	/*here i am rounding the borders with a solid line*/
	/*here i am also giving it the color i specified in the color scheme*/
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #E6C50A;
}
/*Container side_by_side for design 3*/

/*Containers for design spec 3*/















/*Container mainly for home back*/
/*Centers the container vertically and horizontally*/
.Center_Vertical_Horizontal_Container_medium
{

	/* positioning */
  	float: left;
	margin-left: 25%;
	margin-top: 12.5%;	  	



	/* sizes */
	height: 300px;
	width: 50%;
	
	/* background color and the opacity */
	background-color: #000000;
	opacity: 0.75;

	/* sorting out borders */	
	/*here i am rounding the borders with a solid line*/
	/*here i am also giving it the color i specified in the color scheme*/
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #E6C50A;

	/* centering text vertically and horizontally */
	display: flex; /*vertical center*/
  	align-items: center; /*vertical center*/
	justify-content: center; /*horizontal center*/

	
}
/*Container mainly for home back*/



/*Centers the container vertically and horizontally*/
.Center_Vertical_Container_medium
{

	/* positioning */
	float: left;
	margin-left: 25%;
	margin-top: 75px;

	
	/* sizes */
	height: 150px;
	width: 50%;
	
	/* background color and the opacity */
	background-color: #000000;
	opacity: 0.75;

	/* sorting out borders */	
	/*here i am rounding the borders with a solid line*/
	/*here i am also giving it the color i specified in the color scheme*/
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #E6C50A;

	/* centering text vertically and horizontally */
	display: flex; /*vertical center*/
  	align-items: center; /*vertical center*/
	justify-content: center; /*horizontal center*/
}
/*Container mainly for home back*/

/*Centers the container vertically and horizontally*/






/*this will contain the text within container and keeping them from touching the sides*/
.text_container
{
	/*position*/
	margin-left: 2.5%;
	margin-right: 2.5px;

	/*Size*/
	width: 95%; 
	height: 100%;

	
}


















/*I frames containners*/
/*Small*/
/*Medium*/
/*Large*/

.iframe_small
{
	/*positioning*/
	float: right;

	/*Size*/
	width: 200px;
	height: 200px;
}

.iframe_medium
{
	/*positioning*/
	float: right;
	margin-top: 25px;

	/*Size*/
	width: 400px;
	height: 400px;
}

.iframe_large
{
	/*positioning*/
	float: right;
	margin-top: 25px;

	/*Size*/
	width: 600px;
	height: 600px;

}

/*one big container holding the main body of content*/
.section_container
{
	/*positioning*/
	float: left;

	/*Size*/
	width: 100%;
	height: 100%;
}


















/* Media Query */
/* For when it hits a width of 1000px */
@media (max-width:1000px)
{

	/*used in design spec 1*/
	/*I am mainly re-organizing the position of the container here*/
	/*As well as this I am re-sizing the containers*/
	.Container_medium
	{
		/*restting the ositioning*/
		left: 0px;
		margin-left: 0px;
		/*positioning*/
		margin-left: 12.5%;
		margin-top: 75px;

		/*size*/
		width: 75%;
	}

	/*used mainly in experiences pages*/
	/*I am re-sizing the containers*/
	.Center_Vertical_Container_medium
	{
		/*Position of the container*/
		width: 75%;
		margin-left: 12.5%;

		/*Size of the container*/
		height: 150px;

	}

	.Center_Vertical_Horizontal_Container_medium
	{
		width: 75%;
		/*resetting the positioning*/
		margin-left: 0;
		left: 0;
		/*positioning*/
		margin-left: 12.5%;
	}
}




















/* Media Query */
/* For when it hits a width of 750px */
@media (max-width:785px) 
{

	/*used in design spec 1*/
	/*I am mainly re-organizing the position of the container here*/
	/*As well as this I am re-sizing the containers*/
	.Container_medium
	{
		/*Positioning*/
		float: left;
		left: 0;
		margin-left: 0;
		margin-top: 50px;

		/*Size*/
		width: 100%;
	}

	/*used in design spec 3*/
	/*I am mainly re-organizing the position of the container here*/
	/*As well as this I am re-sizing the containers*/
	.Container_SideBySide_medium
	{
		/*Position of the container*/
		/*position: relative;*/
		margin: 0px;
		margin-top: 50px;
		
		/*Size of container*/
		width: 100%;
	}


	/*used in home maybe other pages*/
	/*I am mainly re-organizing the position of the container here*/
	/*As well as this I am re-sizing the containers*/
	.Center_Vertical_Horizontal_Container_medium
	{
		/*Position of the container*/
		margin:0;
		margin-top: 50px;
		
		/*Size of the container*/
		height: 150px;
		width: 100%;
	}

		/*used in home maybe other pages*/
	/*I am mainly re-organizing the position of the container here*/
	/*As well as this I am re-sizing the containers*/
	.Center_Vertical_Container_medium
	{
		/*Position of the container*/
		margin-left: -0%;
		margin-top: 20px;
		
		/*Size of the container*/
		height: 150px;
		width: 100%;

	}

	.iframe_small
	{
		display: none;
	}

}

/* Media Query */
/* For when it hits a width of 550px */
@media (max-height: 550px) 
{
	/*used in home maybe other pages*/
	/*I am repositioning the container to allow it to not clip within the navigation system*/
	.Center_Vertical_Horizontal_Container_medium
	{
		/*Position of the container*/
		position: relative;
		margin-top: 50px;
	}

}