@charset "utf-8";




/* CSS Font */
/* h1 font stsyle */
h1
{
	/*positioning*/
	margin: 0;
	text-align: center;

	/*Font size and color*/
	font-size: 3.5em;
	color: #D6D6D6;
}
/* h1 font stsyle */

/* h2 font stsyle */
h2
{
	text-align: center;
	/*Font size and color*/
	font-size: 2.5em;
	color: #D6D6D6;
}
/* h2 font stsyle */

/* h3 font stsyle */
h3
{
	/*Font size and color*/
	color: #D6D6D6;
}
/* h3 font stsyle */


/* h3 font stsyle */
h4
{
	/*Font size and color*/
	color: #D6D6D6;
}
/* h3 font stsyle */

/* p font stsyle */
p
{
	/*Font size and color */
	color: #D6D6D6;
	font-size: 1em;
}
/* p font stsyle */

dl 
{
	color: #D6D6D6;

}

dt
{
	font-size: 1.2em;
	margin-bottom:15px;
}


/* a style */
a
{
	text-decoration: none;
}
/* a style */

/* CSS Font */

.text_wrapping
{
	/*Positioning*/
	text-align: left; 
	float: left; 
	margin:10px; 
	margin-right: 15px;
}


















/*As i am changing classes past my resolution (i think past my resolution atleast...)
the only way to allow the above media queries to run as well is to have these at the bottom with min width*/
@media (min-width:3100px)
{

}

@media (min-width:2750px)
{

}




/* Media Query */
/* For when it hits a width of 1000px */
@media (max-width:1000px){



}

/* Media Query */
/* For when it hits a width of 750px */
@media (max-width:785px) {

h1
{
	/*Font Size and colour*/
	/*Changing the size to accomidate the page size*/
	font-size: 2.25em;
}


}

/* Media Query */
/* For when it hits a width of 550px */
@media (max-height: 550px) 
{


}
