@charset "utf-8";

/* header */
header
{
	/*Positioning*/
	float: left;
	
	/*Size*/
	width: 100%;
	height: 100px;

	/* background color and the opacity */
	background-color: #000000;
	opacity: 0.85;
}
/* header */

/* page name */
.PageName 
{
	/*positioning*/
	float: left;
	
	/*Size*/
	height: 100px;
	
	/*deplauing the text in the center of the class
		vertically and horizontally*/
	display: flex;
  	align-items: center;
	justify-content: center;
}
/*page name*/

/* Nav */
nav
{
	/*Positioning*/
	/*floating the nav to the right 
	to appear on the right of the header*/
	float: right;
	margin-top: 50px;
	
	/*Size*/
	width: 75%;
	height: 50px;
}
/* Nav */

















/* navigation styling */
/* ul */
ul 
{
	/*Making sure there is no padding / margin*/
    margin: 0;
    padding: 0;
    
    /*getting rid of scroll just in case*/
    /*alt to this is overflow: scroll;*/
    overflow: hidden;
    
    /*getting rid of the bullet points*/
    list-style-type: none;
}
/* ul */






/* li */
li 
{
	/*floating the block elements next to each other*/
    float: right;
}
/* li */

/* li a */
li a 
{
	/*creating the list as a new block*/
	/*makeing sure the text has no decoration, Underline*/
    display: block;
    text-decoration: none;
 	
 	/*positioning / extra*/
    padding-top: 14px;
    padding-right:16px;
    padding-left: 16px; 
    
    /*font editting,:
    	color, 
    	the allignment in the block, 
    	font size
    */
    color: #ffffff;
    text-align: center;
    font-size: 1.8em;
    
}
/* li a */

/* li a:hover */
li a:hover 
{
	/*Background color when you hover over the nav button*/
    background-color: #111111;
}
/* li a:hover */















/*As i am changing classes past my resolution (i think past my resolution atleast...)
the only way to allow the above media queries to run as well is to have these at the bottom with min width*/

@media (min-width:3100px)
{

	header
	{
		/*Size*/
		height: 250px;
	}

	nav
	{
		/*positioning*/
		margin-top: 100px;
		/*size*/
		height: 150px;
		font-size: 1.9em;
	}
	ul
	{
		/*positioning*/
		margin-top: 60px;
	}
	.PageName
	{
		/*Size + font size*/
		width: 15%;
		height:250px;
		font-size: 2em;
	}



}


















/* Media Query */
/* For when it hits a width of 1000px */
@media (max-width:1000px)
{
	/*PageName*/
	.PageName
	{
		/*Making the whole class not show 
		making more usable space in the header*/
		display: none;
	}
	/*PageName*/

	/*nav*/
	nav
	{
		/*Size*/
		width: 100%;
	}
	/*nav*/

	.active 
	{
	background-color:  #111111;
	}
}

/* Media Query */
/* For when it hits a width of 750px */
@media (max-width:785px) 
{
	/*Header*/
	header
	{
		/*Size
		I am changing the size to accompany the navigation*/
		height: 246px;

		/*Changing the colour and the opacity of the header and only the header*/
		/*This is so the Naviation can still be seen and not affected*/
		background: rgba(0, 0, 0, 0);
	}
	/*Header*/

	/* navigation style */
	/*nav*/
	nav
	{
		/*positioning*/
		margin-top: 0px;
		
		/*Size*/
		height: 100%;
	}
	/*nav*/

	li
	{
		/*Size of the boxes*/
		width: 100%;
	}

	/* Change the link color on hover */
	li a:hover 
	{
		/*changing the colour to a light grey when hover*/
		/*just looks nicer and fits with the scheme in my eyes*/
		background-color: #555555;		
	}
	.active
	{
		/*changing the colour to a light grey when active*/
		/*just looks nicer and fits with the scheme in my eyes*/
		/*it is also a closer looking color to when the header is visible*/
		background-color: #555555;		

	}
	/* navigation style */
}

/* Media Query */
/* For when it hits a width of 550px */
@media (max-height: 550px) 
{


}
