@charset "utf-8";




.Image_container
{
	/*Positioning*/
	float: left;

	/*Size*/
	width: 25%;
	height: 250px;

	/*Colour / opacity*/
	opacity: 0.8;

	/*Transition*/
	transition: width 1s ease-in-out, height 1s ease-in-out, 0.5s;
}

.Image_container:hover
{
	/*Colour / opacity*/
	opacity: 1;
	/*Transition*/
	transition: 0.5s;
}


















/*As i am changing classes past my resolution 
the only way to allow the above media queries to run as well is to have these at the bottom with min width*/

@media (min-width:3100px)
{

	.Image_container
	{
		/*Size*/
		width: 16.666666666%;
		height: 500px;
		/*Transition*/
	}

}

@media (min-width:2750px)
{

	.Image_container
	{
		/*Size*/
		height: 500px;
		/*Transition*/
	}

}















/* Media Query */
@media (max-width:1800px){

	.Image_container
	{
		/*Size*/
		width: 33.333333333333%;

	}

}

/* Media Query */
@media (max-width:1500px){

	.Image_container
	{
		/*Size*/
		width: 50%;
		height: 500px;
		/*Transition*/
	}

}

@media (max-width:1000px) 
{

	.Image_container
	{
		/*Size*/
		width: 100%;
		height: 500px;
	}

}


@media (max-width:785px) 
{
	.Image_container
	{
		height: 400px;
	}
	nav
	{
		/*Color / opacity*/
		background-color: #000000;

	}

}


@media (max-width:600px) 
{
	.Image_container
	{
		height: 350px;
	}


}


@media (max-height: 550px) 
{


}